{% extends 'base.html' %}

{% block title %}
  {{ post.title }}
{% endblock %}


{% block content_title %}
  {{ post.title }}
{% endblock %}


{% block content %}
<div class="tags">
  {% for var in list %}
  <a href="{{ url_for('posts.tag_detail', slug=tag.slug) }}"><span class="label label-primary">{{ tag.name }}</span></a>
  {% endfor %}
</div>
  <div class="main-content">
    {{ post.body }}
  </div>
  <div class="edit_btn">
    <a class="btn btn-outline-dark" href="/edit_post.html" role="button">Edit post</a>
  </div>
{% endblock %}
